
@{
    ViewData["Title"] = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/hizmetlerimiz/css/stylehizmetlerimiz.css">

<div class="jumbotron jumbotron-fluid text-white" id="head">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <p id="baslik">Sizin için ne yapabiliriz beraber bakalım.</p>
            </div>
        </div>
    </div>
</div>

<div class="orta">
    <div class="container-fluid" id="hizmetlerimiz">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-3" id="kart" align="center">
                <a href="/Order/WebTasarim/"><img src="/hizmetlerimiz/webtasarim/images/1.png" width="120px" id="foto"></a>
                <br><br>
                <p id="text"><a href="/Order/WebTasarim/">Web Tasarım</a></p>
                <p id="altbaslik">
                    <a href="/Order/WebTasarim#kurumsal/">Kurumsal Web Sitesi Tasarımı</a><br>
                    <a href="/Order/WebTasarim#eticaret/">E-Ticaret Sitesi Tasarımı</a><br>
                    <a href="/Order/WebTasarim#mobil/">Mobil Uygulama Tasarımı</a>
                </p>

                <div class="incele">
                    <a href="/Order/WebTasarim/">
                        <p id="p">İNCELE</p>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3" id="kart" align="center">
                <a href="/Order/WebYazilim/"><img src="/hizmetlerimiz/webyazilim/images/2.png" width="134px" id="foto"></a>
                <br><br>
                <p id="text"><a href="/Order/WebYazilim/">Web Yazılım</a></p>
                <p id="altbaslik">
                    <a href="/Order/WebYazilim#proje/">Özel Proje Geliştirme</a><br>
                    <a href="/Order/WebYazilim#is/">İş süreç Takibi Yazılımları</a>
                    <br><br>
                </p>

                <div class="incele">
                    <a href="/Order/WebYazilim/">
                        <p id="p">İNCELE</p>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3" id="kart" align="center">
                <a href="/Order/Seo/"><img src="/hizmetlerimiz/seo/images/3.png" width="124px" id="foto"></a>
                <br><br>
                <p id="text"><a href="/Order/Seo/">Dijital Pazarlama</a></p>
                <p id="altbaslik">
                    <a href="/Order/Seo#pazarlama/">Etkileyici Pazarlama</a><br>
                    <a href="/Order/Seo#reklam/">Web Reklam Yönetimi</a><br>
                    <a href="/Order/Seo#seo/">Seo</a>
                </p>

                <div class="incele">
                    <a href="/Order/Seo/">
                        <p id="p">İNCELE</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>