@{
    ViewData["Title"] = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/styleiletisim.css">
<link rel="stylesheet" href="/css/style.css">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.0969666112705!2d29.22305641571683!3d40.9136197331928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac4ce9621dfcd%3A0x4842f0eed39648aa!2sH%C3%BCrriyet%2C%20Sanat%20Sk.%20No%3A3%2C%2034876%20Kartal%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1588716184622!5m2!1str!2str" width="100%" height="700px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

<div class="iletisim">
    <div class="container-fluid" id="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <p id="bas">
                    İletişim Formu
                </p>
                <p id="bas1">
                    Yazılım alanında her türlü konuda bilgi almak veya destek talebinde bulunmak için aşağıdaki formu doldurarak bize iletebilirsiniz.
                </p> <br>


                <form name="metinkutusu">
                    <p id="form">Ad-Soyad&nbsp;</p><p id="yildiz">*</p> &nbsp;
                    <input name="AdSoyad" type="text" value="Adınız Soyadınız?" id="txtAdSoyad" class="form-control" title="Adınız Soyadınız?" onfocus="if(this.value == 'Adınız Soyadınız?') this.value = '';" onblur="if(this.value=='') this.value='Adınız Soyadınız?';"><br>

                    <p id="form">Telefon&nbsp;</p><p id="yildiz">*</p> &nbsp;
                    <input name="telefon" type="text" value="Telefon Numaranız?" id="txttelefon" class="form-control" title="Telefon Numaranız?" onfocus="if(this.value == 'Telefon Numaranız?') this.value = '';" onblur="if(this.value=='') this.value='Telefon Numaranız?';"><br>

                    <p id="form">E-Mail&nbsp;</p><p id="yildiz">*</p> &nbsp;
                    <input name="email" type="text" value="E-Mail Adresiniz?" id="txtemail" class="form-control" title="E-Mail Adresiniz?" onfocus="if(this.value == 'E-Mail Adresiniz?') this.value = '';" onblur="if(this.value=='') this.value='E-Mail Adresiniz?';"><br>

                    <p id="form">Mesajınız&nbsp;</p><p id="yildiz">*</p> &nbsp;
                    <textarea name="mesaj" rows="2" cols="20" id="txtMsg" class="input-text uniform" style="height:170px;width:100%;"></textarea><br>


                    <button type="button" class="btn btn-secondary" id="buton">Gönder</button><br><br><br><br>
                </form>
            </div>

            <div class="col-sm-12 col-md-5">
                <p id="sag">
                    MERKEZ OFİS İLETİŞİM BİLGİLERİ
                </p>

                <p id="sag2">
                    Akçakale Yazılım Bilişim Danışmanlık San. ve Tic. Ltd. Şti
                </p>

                <p id="sag3">
                    Vatansever Caddesi Hürriyet Mahallesi<br>
                    Sanat Sokak No:3/1 <br>
                    Yakacık/Kartal/istanbul
                </p> <br>

                <p id="sag3">
                    Tel: 0543 502 33 29
                </p> <br>

                <p id="sag2">
                    E-mail
                </p>

                <p id="sag3">
                    onur_akcakale@hotmail.com
                </p>

                <br>
                <div class="sosyalmedya">
                    <img src="/iletisim/images/facebook.png" width="20px">&nbsp;
                    <img src="/iletisim/images/twitter.png" width="20px">&nbsp;
                    <img src="/iletisim/images/instagram.png" width="25px">
                </div>

            </div>
        </div>
    </div>
</div>