@{
    ViewData["Title"] = "Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head runat="server">
    <meta http-equiv="Refresh" content="2; url=/Home/Index/" />
</head>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/styleiletisim.css">
<link rel="stylesheet" href="/css/stylehizmetlerimiz.css">
<link rel="stylesheet" href="/css/bootstrap.css">

<div class="iletisim" style="padding-bottom:650px">
    <div class="container-fluid" id="container">
        <div class="row">
            <div class="col-sm-12 col-md-1">

            </div>

            <div class="col-sm-12 col-md-10" style="padding-top:100px">
                <h3>Siparişiniz Alınmıştır. Yönlendiriliyorsunuz...</h3>
            </div>

            <div class="col-sm-12 col-md-1">

            </div>
        </div>
    </div>
</div>