@using WebApplication1.Models
@model List<Products>

@{
    ViewData["Title"] = "WebTasarim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/hizmetlerimiz/webtasarim/css/stylewtasarim.css">
<link rel="stylesheet" href="/css/bootstrap.css">

<div class="jumbotron jumbotron-fluid text-white" id="head">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <p id="baslik">Sizin için ne yapabiliriz beraber bakalım.</p>
            </div>
        </div>
    </div>
</div>

<div class="orta">
    <div class="container" id="hizmetlerimiz">
        <div class="row">
            <div class="col-sm-12 col-md-4" id="sol">
                <ul class="sol-menu">
                    <li class="active">
                        <a href="#webtasarim">
                            Web Tasarım
                        </a>

                        <ul>
                            <li class="solalt">
                                <a href="#kurumsal">
                                    Kurumsal Web Tasarımı
                                </a>
                            </li>
                            <li>
                                <a href="#eticaret">
                                    E-Ticaret Sitesi Tasarımı
                                </a>
                            </li>
                            <li>
                                <a href="#mobil">
                                    Mobil Uygulama Tasarımı
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="../webyazilim/wyazilim.html">Web Yazılım</a></li>
                    <li><a href="../seo/seo.html">Dijital Pazarlama</a></li>
                </ul>
            </div>


            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-sm-12" id="webtasarim">
                        <div class="sag1">
                            <div class="image">
                                <img src="/hizmetlerimiz/webtasarim/images/1.png" width="120px">
                            </div>
                            <p id="sagbaslik">Web Tasarım</p>

                            <div class="text">
                                <p>Var olan veya yeni kurulan işletmenizin, modern bir kurumsal kimliğe sahip olması için web sitesi tasarımları oluşturuyoruz. Yaptığınız işin yapısına uygun, (e-ticaret tasarımı, kurumsal web sitesi tasarımı, UX kullanıcı deneyimi web tasarımı)  web tasarımları oluşturabiliriz.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" id="kurumsal">
                        <div class="sag1">
                            <div class="image">
                                <img src="/hizmetlerimiz/webtasarim/images/a.png" width="120px">
                            </div>
                            <p id="sagbaslik">
                                Kurumsal Web Sitesi
                                Tasarımı
                            </p>

                            <div class="text">
                                <p>
                                    Kurumsal yapınıza uygun ve modern çizgilerle oluşturulan web sitesi tasarımlarıdır. Oluşturulan tasarımlarda, kullanıcılarınızın site içi aktivelerini kolay ve doğru bir şekilde yapabilmesi ve sizlere daha rahat ulaşabilmesi sağlanır. Tasarımlarda uygun yazı karakteri kullanımı ve uyumlu yardımcı renkler kullanılır. Tüm mobil ve tablet cihazlarıyla uyumludur.<br><br>

                                    Akçakale Web Tasarım; kendi geliştirdiği, gereksiz kodlardan arındırılmış “Panel” adlı içerik yönetim sistemine sahiptir. Bu sayede, kullanıcılarınız sayfaların açılmasını beklemeden kolayca web sitenizde dolaşabilirler. Çoklu dil desteğine sahip “Panel” yönetici paneli sistemi ile istediğiniz dillerde yayın yapabileceğiniz web sitelerine sahip olabilirsiniz. <br><br>

                                    Tüm müşterilerimize, web site güvenliği sağlanması için SSL (Güvenlik) sertifikası, ücretsiz olarak sunulmaktadır. Dilerseniz ek geliştirmeler yaptırıp, web sitenizi farklı özelliklere sahip bir yapı haline de getirebilirsiniz.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" id="eticaret">
                        <div class="sag1">
                            <div class="image">
                                <img src="/hizmetlerimiz/webtasarim/images/b.png" width="120px">
                            </div>
                            <p id="sagbaslik">
                                E-Ticaret Web Sitesi
                                Tasarımı
                            </p>

                            <div class="text">
                                <p>
                                    İnternet üzerinden satış yapabileceğiniz e-ticaret siteniz oluşturulurken tüm banka ve aracı kurum entegrasyonları sağlanmaktadır. Bu sayede; müşterilerinizden, kolay bir şekilde kredi kartı ile ödemeyi tahsil edebilirsiniz. E-ticaret sitesi tasarımları, günümüz tasarım standartlarına uygundur. Satışı yapılan ürün grubuna uygun şekilde tasarımlar üretilmektedir..<br><br>

                                    Web sitesi tasarımlarımızda renk uyumu, belirlenen rengin tamamlayıcı renkleri kullanılarak sağlanmaktadır. Oluşturulan tasarımlar, mobil cihaz ve tabletler ile uyumludur. Gereksiz kodlama yapısından arındırılmıştır. Bu sayede, sayfa yükleme hızı yüksek bir e-ticaret sitesine sahip olursunuz.
                                    <br><br>
                                    Ayrıca, tüm müşterilerimize web site güvenliği sağlanması için SSL (Güvenlik) sertifikası, ücretsiz olarak sunulmaktadır. Ek olarak; oluşturduğumuz e-ticaret siteleri, özel taleplerinizin uygulanabileceği bir alt yapıya sahiptir.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" id="mobil">
                        <div class="sag1">
                            <div class="image">
                                <img src="/hizmetlerimiz/webtasarim/images/c.png" width="90px" height="150px">
                            </div>
                            <p id="sagbaslik">Mobil Uygulama Tasarımı</p>

                            <div class="text">
                                <p>İhtiyacınız olan tüm mobil uygulama tasarımlarını tasarlayabiliriz. Mobil uygulama tasarımlarımızın tümü UX (Kullanıcı Deneyimi) tasarımlarıdır.  Mobil uygulama tasarımı çizimi yapılmadan önce tüm tasarım şeması ve işleyiş sistemi çıkarılıp, istenilen yapı tam olarak belirlenir. Sonrasında ise işiniz çok daha kolaydır.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>